<% @reviews.each do |review| %>
  <p><%= review.movie_name %></p>
  <p><%= review.email_address %></p>
  <p><%= review.created_at %></p>
  <p><%= review.rating %></p>
  <p><%= review.comment %></p>
<% end %>

<div class="container">
  <table class="table">
    <tr>
      <th>Movie Title</th>
      <th>User</th> 
      <th>Date</th>
      <th>Rating (out of 10)</th>
      <th>Comment</th>
    </tr>
    <tr>
      <td>Jill</td>
      <td>Smith</td> 
      <td>50</td>
      <td>arsitne</td>
    </tr>
    <tr>
      <td>Eve</td>
      <td>Jackson</td> 
      <td>94</td>
    </tr>
  </table>
</div>